{
	"Amqp": "amqp://USER:PASSWORD@HOST:PORT",
	"ConsumerQueue": "worker/failed",
	"PrefetchCount": 10,
	"DumpDir": "/folder/to/dump/failed/messages",
	"LogFile": "/leave/empty/for/no/log/or/path/to/file.txt",
	"LogLevel": "debug"
}